* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body{
  background-color: #E5EFF4;
}

.jude{
  width: 48px;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.fa-bars{
  display: none;
}

img.user{
  height:44px ;
  width: 48px;
}
.admin{
  width: 108px;
  height: 18px;
  opacity: 40%;
  width: max-content;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.user_div{
  display: flex;
  gap: 0.741vw;
  justify-content: center;
  align-items: center;
}

.jude_admin_div{
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.our_dashboard {
  display: flex;
  /* gap: 39px; */
  gap: 2.891vw;
  min-width: 100vw;
  margin-bottom: 20px;
}
.search_input {
  display: flex;
  position: relative;
  align-items: center;
}
img.search_icon {
  width: 18px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 15;
}
input.placeholder::placeholder {
  position: absolute;
  right: 0;
  font-size: 15px;
}
input.placeholder{
  width: 70px; 
  border: none;
}
.search_navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  padding: min(14px, 10%);
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 1;
}


.outer_most_right_container {
  display: flex;
  flex-direction: column;
}
h1.h1_off_white_panel {
  width: min-content;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;  
  text-align: left;
  margin-top: 21px;
  margin-bottom: 31px;
}
.off_white_panel {
  display: flex;
  flex-direction: column;
  background: #E5EFF4;

}
/* ALL DASHBORAD MOTHER*/

.left_nav_bar {
  background-color: white;
  max-width: 215px;
  padding: min(30px, 10%);
  margin-left: 5px;
  position: sticky;
  top: 0px;
}

img.dashborad_Logo_top {
  height: 36px;
  width: 36px;
  display: block;
  margin-top: min(32px, 10%);
  margin-left: min(13px, 10%);
  z-index: 1;
}
.progress_indicator {
  height: 1px;
  width: 50%;
  margin-top: 30px;
  margin-left: min(13px, 10%);
  background: #ffffff;
}
.left_inner_dashboard {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  max-width: 205px;
  gap: 3.039vw;
  margin-left: min(5px, 10%);
  margin-top: 40px;
  background: #ffffff;
  position: sticky;
  top: 0px;
}

.dashborad,
.Companies,
.Order_Pool,
.Order_History,
.Subscriptions,
.Earnings,
.Reports,
.Settings,
.Supports {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: min(34px, 10%);
  padding-right: min(34px, 10%);
  display: flex;
  opacity: 40%;
  color: #252525;
  /* gap: 28px; */
  gap: 2.076vw;
}
.dashborad img,
.Companies img,
.Order_Pool img,
.Order_History img,
.Subscriptions img,
.Earnings img,
.Reports img,
.Settings img,
.Supports img {
  width: 24px;
  /* gap: 28px; */
  gap: 2.076vw; 
}
.dashborad {
  background: #e8f0fe;
  border-radius: 20px;
  opacity: inherit;
}
.total_exchange,
.total_companies,
.total_cancelled,
.total_created {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: min-content;
}

.total_created h1 {
  max-width: 175px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.total_exchange h1 {
  max-width: 70px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.total_companies h1 {
  max-width: 175px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.total_exchange h1 {
  max-width: 175px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.total_cancelled h1 {
  max-width: 175px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.total_exchange > div > span,
.total_companies > div > span,
.total_cancelled > div > span,
.total_created > div > span {
  font-size: 38px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
  color: #ff3a29;
}

.total_exchange > div,
.total_companies > div,
.total_cancelled > div,
.total_created > div {
  display: flex;
  gap: 1.631vw;
}
.Hart_green,
.Frame,
.warning_logo {
  width: 37px;
  height: 37px;
}
.total_exchange_right,
.total_companies_right,
.total_cancelled_Orders_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 29px;
  max-width: 51px;
}

.total_exchange_right > div > span,
.total_companies_right > div > span,
.total_cancelled_Orders_right > div > span {
  width: 34px;
  height: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.total_exchange_right > div,
.total_companies_right > div,
.total_cancelled_Orders_right > div {
  display: flex;
  gap: 5px;
  max-width: 51px;
}

.first_rigt_dashboard {
  background-color:#FFFFFF;
  padding: min(10px, 10%);
  width: fit-content;
  display: flex;
  /* gap: 77px; */
  gap: 5.708vw;
}

.total_companies_container,
.total_cancelled_Orders_container,
.total_created_Orders_container {
  padding: min(10px, 10%);
  width: min-content;
  min-height: 106px;
  display: flex;
  /* gap: 77px;  */
  gap: 5.708vw;
}
.total_exchange_outer{
  width: min-content;
  padding: min(25px, 10%);
  background: #FFFFFF;
}
.total_companies_outer,
.total_cancelled_Orders_outer,
.total_created_Orders_outer {
  width: min-content;
  padding: min(25px, 10%);
  background: #F9F9F9;
}

.exchange_image {
  display: flex;
  gap: 88px;    
  /* gap: 2.523vw; */
  align-items: center;
}
.exchange_image img {
  height: 14px;
  width: 14px;
}

.main_container_first_two_dashboard {
  display: flex;
  /* gap: 30px; */
  gap: 2.224vw;
}
.second_body_inner_dashboard {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.three_forty {
  max-width: 145px;
  height: 38px;
  font-size: 29px;
  font-weight: 700;
  text-align: left;
  align-self: end;
}
.upper_mid_div {
  max-width: 204px;
  padding: min(26px, 10%);
  background: #F9F9F9;
  /* min-height: 70vh; */
  /* margin-top: 0px; */
}
.allen_lagos_three_forty {
  display: flex;
  /* gap: 53px;      */
  gap: 3.929vw;
}
.one_twenty {
  width: 64px;
  height: 52px;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
}

._267_pushed_to_pool{
  margin-bottom: 29px;
}
h4.companies_sent_orders {
  max-width: 152px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.female_pics {
  display: block;
  margin-top: 29px;
}
.female_pics_div {
  max-width: 112px;
  min-height: 73px;
  padding-right: min(68px, 10%);
  padding-bottom: min(25px, 10%);
  margin-bottom: 15px;
}
.eight_four {
  display: block;
  width: 52px;
  height: 28px;
  font-weight: bold;
  color: #ff3a29;
}

.blue_graph {
  width: 10.675vw;
}

.comapred_to_yesterday {
  max-width: 154px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-top: 11px;
}

h2.exchange {
  max-width: 163px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #000000;
}
h4.most_orders {
  max-width: 129px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  color: #92929d;
}
.image_fz_deliveries_allen_lagos_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-top: min(10px, 10%);
}
.exchange_poollogo {
  width: 89px;
  height: 65px;
  border-radius: 12px;
  transform: rotate(-180deg);
}
h3.fz_deliveries {
  max-width: 99px;
  height: 21px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

h5.allen_lagos {
  max-width: 78px;
  opacity: 40%;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.exchange_pool_container {
  background: #F9F9F9;
  width: fit-content;
  padding-top: min(22px, 10%);
  padding-left: min(26px, 10%);
  padding-right: min(23px, 10%);
}
.five_o4_orders__267_pushed_to_pool_container {
  margin-top: min(15px, 10%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 90px;
}
.five_o4 {
  display: block;
  width: 44px;
  height: 29px;
  font-size: 22px;
  font-weight: 700;
  color: #ff3a29;
}
._267 {
  display: block;
  width: 44px;
  height: 29px;
  font-size: 22px;
  font-weight: 700;
  color: ##4339f2;
}
.orders {
  opacity: 40%;
  width: 46px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.pushed_to_pool {
  opacity: 40%;
  max-width: 100px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
h2.orders_today {
  max-width: 141px;
  margin-left: min(30px, 10%);
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
.daily {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  max-width: 32px;
}
.daily_img_div {
  display: flex;
  gap: 5px;
  margin-right: 20px;
}
.order_today_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: min(22px, 10%);
  align-items: center;
}
.orders_today_and_daily_img_div {
  background: #F9F9F9;
  padding-top: 31px;
}
.coloured_round_shapes {
  margin-top: 9px;
  margin-left: min(33px, 10%);
  display: flex;
  /* gap: 22px; */
  gap: 1.631vw;
}
.blue_round_delivered,
.green_round_delivered,
.red_round_cancelled {
  display: flex;
  gap: 6px;
}
.delivered,
.delivered,
.cancelled {
  max-width: 81px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.number_div {
  margin-left: min(53px, 10%);
  display: flex;
  gap: 57px;
  /* gap: 4.225vw; */
}
._320,
._230,
._80 {
  width: 45px;
  height: 31px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}
.full_outer_comtainer {
  display: flex;
  flex-direction: column;
}

._86_percent,
._67_percent,
img._14_percent {
  width: 71px;
  height: 71px;
}

.percentage_container {
  display: flex;
  justify-content: end;
  margin-right: min(29px, 10%);
  gap: 17px;
}
.first_body_inner_dashboard {
  align-self: center;
  margin-right: min(50px, 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.03vw;
}

.degree_container {
  display: flex;
  /* gap: 39px; */
  gap: 2.891vw;
}

.mountain_section {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  max-width: fit-content;
}

img.Gray_mountaun {
  width: 100%;
  height: 204px;
}

img.Green_mountain {
  outline: none;
  margin-top: -151px;
  width: 100%;
  height: 151px;
}
img.Red_mountain {
  margin-top: -66px;
  width: 100%;
  height: 66px;
}
.indicator {
 
  width: min-content;
  background: #FFFFFF;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: min(30px, 10%);
}
.indicator h1 {
  max-width: 176px;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}
.unordered_list > span {
  width: max-content;
  height: 15px;
  opacity: 40%;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}
.progrss_indicator {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: fit-content;
}
.progrss_indicator progress {
  width: 20vw;
  height: 17px;
  color: #053582;
}
.unordered_list {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.below_degree_container {
  display: flex;
  /* gap: 38px; */
  gap: 2.817vw;
}
.list_indicator {
  display: flex;
  /* gap: 30px; */
  gap: 2.224vw;
  width: fit-content;
}

@media (max-width: 1250px) {
  .main_container_first_two_dashboard {
    flex-direction: column;
  }

  .first_body_inner_dashboard {
    min-height: fit-content;
    flex-direction: row;
    flex-wrap:wrap;
  }
  .first_rigt_dashboard,
  .total_companies_container,
  .total_cancelled_Orders_container,
  .total_created_Orders_container {
    padding: 0px;
    gap: 7.708vw;
  } 

  .total_exchange_outer,
  .total_companies_outer,
  .total_cancelled_Orders_outer,
  .total_created_Orders_outer {
    width: min-content;
    height: fit-content;
    padding: min(15px, 10%);
  }
  .indicator {
    width: 80%;
  }
  .list_indicator {
    width: 100%;
  }

  .progrss_indicator {
    width: 60%;
  }
  .progrss_indicator progress {
    width: 40vw;
  }
}
@media (max-width:737px) {
  .first_body_inner_dashboard {    
   
  }
  .left_nav_bar {
    padding: 5px;
    margin-left: 0px;
  }
  .progress_indicator {
    margin-left: 3px;
  }
  .dashborad,
  .Companies,
  .Order_Pool,
  .Order_History,
  .Subscriptions,
  .Earnings,
  .Reports,
  .Settings,
  .Supports {
    flex-direction: column;
    align-items: center;
    gap: 2.076vw;
  }  
}

@media (max-width: 1077px) {
  .indicator {
    width: 50%;
  }
  .list_indicator {
    width: 100%;
  }

  .progrss_indicator {
    width: 60%;
  }
  .progrss_indicator progress {
    width: 20vw;
  }

  .left_inner_dashboard {
    gap: 8.039vw;
    margin-top: 40px;
    background: #ffffff; 
    
  }
}


@media (max-width: 716px) {
  .second_body_inner_dashboard {
    flex-direction: column-reverse;
  }
}

@media (max-width: 711px) {

.first_rigt_dashboard,
.total_companies_container,
.total_cancelled_Orders_container,
.total_created_Orders_container {
  padding: 0px;
  gap: 2.708vw;
  }
}

@media (max-width:627px) {
  .first_body_inner_dashboard {
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-bottom: 25px;
  }  
 
  h1.h1_off_white_panel {
    width: max-content;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 30px  auto;
  }  
}

@media (max-width: 590px) {  
  .below_degree_container {
    flex-direction: column;
    /* gap: 2.817vw; */
    gap: 45px;
  }
  .degree_container {
    flex-direction: column;
    /* gap: 39px; */
    gap: 2.891vw;
  }
  .number_div {
    margin-left: min(53px, 10%);
    display: flex;
    gap: 27px;
    /* gap: 4.225vw; */
  }
  .exchange_pool_container{
    align-self: center;
    /* gap: 45px; */
  }

  .indicator h1 {
    font-size: 18px;
  }

  .indicator {
    padding: 0px;
    width: fit-content;
    justify-content: center;
    align-self:center;  
    margin-top: 20px;
  }
  .orders_today_and_daily_img_div{
    margin-top: 20px;
  }

  .upper_mid_div{
    align-self: center;
    justify-content: center;
    margin-right: 80px;
  }

  .progrss_indicator {
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: fit-content;
  }
  .progrss_indicator progress {
    width: 40vw;
    height: 15px;
    color: #053582;
  }

  .below_degree_container {
    display: flex;
    /* gap: 38px; */
    gap: 2.817vw;
  }
  .list_indicator {
    display: flex;
    /* gap: 30px; */
    gap: 2.224vw;
  }

  .upper_mid_div {
    width: 400px;
    padding: min(26px, 10%);
  }
  .blue_graph{
    display: block;
  }
 
}

@media (max-width:432px) {
  .indicator {
    
    padding: 0px;
    justify-content: flex-start;
    align-self:flex-start;
    margin-right: 0px; 
    margin-left: 15px;
  }
  
}

@media (max-width:410px) {
  h2.orders_today {
    max-width: 141px;
    margin-left: min(30px, 10%);
    font-size: 15px;
    font-weight: 500;
    text-align: left;
  }
  .indicator {
    padding: 0px;
    justify-content: flex-start;
    align-self:flex-start;
    margin-right: 0px; 
    margin-left: 45px;
  }
  .exchange_image img {
    height: 14px;
    width: 14px;
  }
  .exchange_image {
    display: flex;
    gap: 35px;    
    /* gap: 2.523vw; */
    align-items: center;
  }
  .fa-bars{
    display: block;
  }
  .user_div{
    display: none;
  }

  .delivered,
.delivered,
.cancelled {
  max-width: 81px;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
._320,
._230,
._80 {
  width: 45px;
  height: 31px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

img.blue_round,
img.green_round,
img.red_round{
  width: 8px ;
  height: 8px;
}

._86_percent,
._67_percent,
img._14_percent {
  width: 41px;
  height: 41px;
}

img.Gray_mountaun {
  width: 100%;
  height: 104px;
}

img.Green_mountain {
  outline: none;
  margin-top: -71px;
  width: 100%;
  height: 71px;
}
img.Red_mountain {
  margin-top: -36px;
  width: 100%;
  height: 36px;
}
.three_forty {
  max-width: 145px;
  height: 38px;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  align-self: end;
}
.left_inner_dashboard span{
  font-size: 10px;
}

.total_created h1{
  font-size: 15px;
  font-weight: 700;
}

.total_exchange h1 {
  font-size: 15px;
  font-weight: 700;
}
.total_companies h1 {
  font-size: 15px;
  font-weight: 700;
}

.total_cancelled h1 {
  font-size: 15px;
  font-weight: 700;
}
.allen_lagos_three_forty {
  gap: 45px;
}

.upper_mid_div{
  align-self: center;
  justify-content: center;
  margin-right: 80px;
  margin-left: 35px;
  }
}

@media (max-width:300px) {
  .total_exchange > div > span{
    font-size: 25px;
  }

  .total_companies > div > span{
    font-size: 25px;
  }
  .total_cancelled > div > span{
    font-size: 25px;
  }
  .total_created > div > span{
    font-size: 25px;
  }

  .total_exchange > div > img{
    width: 40px;
  }
  .total_companies > div > img{
    width: 40px;
  }
  .total_cancelled > div > img{
    width: 40px;
  }
  .total_created > div > img{
    width: 40px;
  }

}